/.github/ISSUE_TEMPLATE/bug_report.md
/.github/ISSUE_TEMPLATE/feature_request.md
/node_modules
/dist
/test/fixture-projects/**/artifacts
/test/fixture-projects/**/artifacts-dir
/test/fixture-projects/**/cache
CHANGELOG.md
